* {
    box-sizing: border-box; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(14, 41, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecera {
    display: flex; 
    width: 102%;
    height: 160px;
    background-color: rgb(3, 25, 54);
    flex-wrap: wrap;
    margin: -10px 0 0 0;
}

.navs {
    display: flex; 
    color: white;
    font-size: 1.3vw;
    width: 10vw;
    height: 30%;
    background-color: rgba(255, 255, 255, .2);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 1.5px rgba(255, 255, 255, .5);
    margin: 30px 0 0 5vw;
}

.logo {
    width: 13vw;
    height: 80%;
    margin: 15px 0 0 6vw;
}

.busqueda {
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: -70px 0 0 10vw;
}

.barra {
    color: white;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 15px 0 0 15px; 
    border: solid 1.5px rgba(255, 255, 255, .5);
}

.boton {
    color: white;
    height: 50%;
    font-size: 1.1vw;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 0 15px 15px 0;
    border: solid 1.5px rgba(255, 255, 255, .4);
}

.cuerpo {
    display: flex;
    width: 100vw;
    height: 380px;
    flex-direction: row;
    justify-content: space-around;
}

.peliculas {
    display: flex;
    width: 30vw;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.series {
    display: flex;
    width: 30vw;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    height: 15%;
    color: white;
    line-height: 35px;
    font-size: 2.5vw;
    text-align: center;
}

.cuadritos {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cuadro {
    color: white;
    font-size: 1.3vw;
    width: 22%;
    height: 20%;
    background-color: rgba(255, 255, 255, .2); 
    border: solid 1.5px rgba(255, 255, 255, .5);
    padding-top: 0.8vw;
    text-align: center;
}

footer {
    background-color: rgba(255, 255, 255, .6);
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
 }
 @media screen and (max-width:450px){
    .cabecera {
        width: 102%;
        height: 35vh;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: -10px 0 0 0;
    }
    
    .navs {
        font-size: small;
        width: 25vw;
        height: 10vh;
        margin: 10px 0 0 5vw;
    }
    
    .logo {
        width: 25vw;
        height: 10vh;
        margin: 15px 0 0 6vw;
    }
    
    .busqueda {
        width: 60vw;
        height: 10vh;
        margin: 10px 0 0 10vw;
    }

    .columnas {
        flex-wrap: wrap;
    }

}

@media screen and (max-width:900px) {
    .peli {
        flex-wrap: wrap;
        display: block;
        width: 30vh;
        height: 40%;
    }
}

@media screen and (max-width:1100px) {
    .peli {
        flex-wrap: wrap;
        display: block;
        width: 30vh;
        height: 40%;
    }
} 