* {
    box-sizing: border-box; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    background-color: rgb(14, 41, 77);
    flex-direction: column;
    align-items: center;
}

.contenedor {
    width: 120%;
    max-width: 1500px;
}

.cabecera {
    display: flex; 
    width: 102%;
    height: 100px;
    background-color: rgb(3, 25, 54);
    align-items: center;
    flex-wrap: wrap;
    margin: -10px 0 25px 0;
}

.navs {
    display: flex; 
    color: white;
    font-size: 1.1vw;
    width: 8vw;
    height: 35%;
    background-color: rgba(255, 255, 255, .2);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: solid 1.5px rgba(255, 255, 255, .5);
    margin-left: 2vw;
    
}

.logo {
    width: 13vw;
    height: 15vh;
    margin-left: 1vw;
}

.busqueda {
    display: flex;
    width: 25vw;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.barra {
    color: white;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 15px 0 0 15px; 
    border: solid 1.5px rgba(255, 255, 255, .5);
}

.boton {
    color: white;
    height: 30px;
    font-size: 1vw;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 0 15px 15px 0;
    border: solid 1.5px rgba(255, 255, 255, .4);
}

.detalle {
    display: flex;
    width: 80vw;
    height: 68vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0 0 10px 0;
}

.izquierda{
    width: 25%;
    height: 100%;  
    justify-content: center;
    flex-wrap: wrap;
}

.imagen {
    width: 100%;
    height: auto;
    margin-left: 0;
}

.trailer {
    color: white;
    font-size: medium;
    text-align: center;
    margin-top: 0px;
}

.info {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: xx-large;
    margin: 10px 0 0 10px;
}

h2 {
    color: white;
    font-size: x-large;
    margin-bottom: 10px;
}

.sinopsis {
    color: white;
    font-size: small;
    text-align: center;
    line-height: 20px;
    margin: 0 40px 20px 40px;
}

.detalles {
    display: flex;
    width: 85%;
    height: fit-content;
    flex-direction: column;
}

.texto {
    color: white;
    font-size: medium;
    margin: 0 0 5px 0;
}

.texto1 {
    color: white;
}

.favs {
    display: flex;
    width: 70%;
    height: 5%;
    justify-content: right;
}

.corazon {
    color: rgb(245, 245, 255);
}

.corazon:hover {
    color: rgba(255, 255, 255, .3);
}

.video {
    color: white;
}

footer {
    background-color: rgba(255, 255, 255, .6);
    width: 100%;
    height: 40px;
    font-size: 15px;
    position: absolute;
    bottom: 0;

 }


 


 
 

